{% extends "base.html" %}

{% block title %} negainoido {% endblock %}
{% block content %}
    {% if error_msg %}
        <strong> {{ error_msg }} </strong>
    {% endif %}
    <h1> Match Configuration </h1>
    <form action={{ url_for('battle') }} method="post">
        <input type="hidden" name="punters" value="2">
        <p>
            <label> AI1 </label>
            <select name="ai_key_0">
                {% for ai in ai_list %}
                    <option value="{{ ai['key'] }}"> {{ ai['name'] }}#{{ ai['commit_id']}} </option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label> AI1 </label>
            <select name="ai_key_1">
                {% for ai in ai_list %}
                    <option value="{{ ai['key'] }}"> {{ ai['name'] }}#{{ ai['commit_id']}} </option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label> map </label>
            <select name="map">
                {% for map in maps %}
                    <option value="{{ map['key'] }}"> {{ map['id'] }} </option>
                {% endfor %}
            </select> 
        </p>
        <input type="submit" value="battle"/>
    </form>
{% endblock %}
