{% extends "base.html" %}

{% block title %} AI {{ info['name'] }}  {% endblock %}
{% block content %}
    <p> <label>Name: </label> {{ info['name'] }} </p>
    <p> <label>Commit: </label> {{ info['commit_id'] }} </p>
    <p> <label>Status: </label> {{ info['status'] }} </p>
    <p> <label> Small Rating: </label> {{ info['small_rating'] }} </p>
    <p> <label> Medium Rating: </label> {{ info['med_rating'] }} </p>
    <p> <label> Large Rating: </label> {{ info['large_rating'] }} </p>
    <h2> recent small results </h2>
    <table class="table">
        <thead>
        <tr>
            <td> Created_at </td> 
            <td> Map </td> 
            <td> Score </td> 
            <td> Rank </td> 
            <td> Detail </td>
        </tr>
        </thead>
        </tbody>
    {% for res in small_results %}
        <tr> 
            <td> {{ res['created_at'] }} </td>
            <td> {{ res['map'] }} </td>
            <td> {{ res['score'] }} </td>
            <td> {{ res['rank'] }} / {{ res['count'] }} </td>
            <td> <a href="{{ url_for('show_game', game_id = res['game_id']) }}"> 
                 {{ res['game_id'] }} </a> </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <hr/>
    
    <h2> recent medium results </h2>
    <table class="table">
        <thead>
        <tr>
            <td> Created_at </td> 
            <td> Map </td> 
            <td> Score </td> 
            <td> Rank </td> 
            <td> Detail </td>
        </tr>
        </thead>
        </tbody>
    {% for res in med_results %}
        <tr> 
            <td> {{ res['created_at'] }} </td>
            <td> {{ res['map'] }} </td>
            <td> {{ res['score'] }} </td>
            <td> {{ res['rank'] }} / {{ res['count'] }} </td>
            <td> <a href="{{ url_for('show_game', game_id = res['game_id']) }}"> 
                 {{ res['game_id'] }} </a> </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <hr/>
    
    <h2> recent large results </h2>
    <table class="table">
        <thead>
        <tr>
            <td> Created_at </td> 
            <td> Map </td> 
            <td> Score </td> 
            <td> Rank </td> 
            <td> Detail </td>
        </tr>
        </thead>
        </tbody>
    {% for res in large_results %}
        <tr> 
            <td> {{ res['created_at'] }} </td>
            <td> {{ res['map'] }} </td>
            <td> {{ res['score'] }} </td>
            <td> {{ res['rank'] }} / {{ res['count'] }} </td>
            <td> <a href="{{ url_for('show_game', game_id = res['game_id']) }}"> 
                 {{ res['game_id'] }} </a> </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}
